.masks-container img{
    animation-name: show-masks;
    animation-duration: 2s;
}

@keyframes show-masks {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@media (max-width: 576px) {
    .masks-container img{
        width: 50px;
    }
}
